# Visual Studio / .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.nupkg

# Build output
/dist/
/publish/
/artifacts/

# Python / Tools temp
/tmp/
*.apk
*.dex
*.so
*.zip

# OS files
.DS_Store
Thumbs.db
